* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    text-align: center;
}
div.wrapper {
    width: 100%;
    height: 100vh;
    overflow: auto;
    border: 5px solid lightslategrey;
    padding-bottom: 20px;
}

/*div.container {
    background-color: #f6f6f6;
    ;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(0);
    border: 1px solid blue;
}*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2000;
}

nav.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 1000;
    /*position: fixed;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    transition: background-color .3s linear;
    background-color: rgba(246, 246, 246, 1);
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid red;
}

div.name {
    width: 300px;
    height: auto;
}

div.menu_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    border: 1px solid violet;
}

ul.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
}

ul.menu-items li {
    /*font-family: 'Roboto';*/
    /*font-style: normal;
    font-weight: 500;
    font-size: 24px;*/
    line-height: 16px;
    color: #FFFFFF;
}

ul.menu-items li a {
    color: #313131;
    line-height: 57px;
    transition: box-shadow 0.4s, color 0.4s;
    /*position: relative;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    /*font-size: 24px;*/
    font-size: 1em;
}

div.connect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    border: 1px solid green;
}

div.phone {
    /*width: 240px;
    height: 75px;*/
    background: #e7b7b752;
    border: 1px solid darkblue;
    border-radius: 10px;
    padding: 16px;
    font-family: 'Evolventa';
    font-style: normal;
    font-weight: 700;
    /*font-size: 24px;*/
    font-size: 1em;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

div.phone a {
    color: #2a3549;
    border: 1px solid #0e9695;
    border-radius: 15px;
    font-family: RistrettoPro;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

div.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    border: 2px solid red;
}

/* div.banner-leftside {height: 50%;
                    margin-top: 300px;
                    display: flex;
                    position: fixed;
                    left: 293px;
                    right: 1146px;
                    border: 1px solid black;
                    top: -22px;                   
}  */
div.banner-leftside {
    background-image: url(../images/banner.jpg);
    line-height: 24px;
    width: 60%;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

p.name {
    position: absolute;
    left: 200px;
    top: 200px;
    color: rgb(29, 1, 94);
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

p.caption {
    position: absolute;
    left: 200px;
    top: 300px;
    color: rgb(29, 1, 94, 0.8);
    font-size: 50px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    /*background-position: center center;*/
    border-color: transparent;
    border-style: solid;

}

a.detailed {
    position: absolute;
    left: 200px;
    top: 600px;
    color: #f6f6f6;
    font-size: 18px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-width: 1px;
    border-radius: 20px;
    background-color: #0e9695;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

div.banner-rightside {
    display: flex;
    background-image: url(../images/AVB.jpg);
    background-size: cover;
    background-color: gray;
    width: 40%;
    height: auto;
    background-repeat: no-repeat;
    /*margin-top: 147px;*/
    overflow: hidden;
}

div.teacher {
    display: flex;
    flex-direction: row;
    height: 700px;
    border: 1px solid red;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
}

div.left-item-teacher {
    flex-basis: 30%;
    background-image: url(../images/profile.jpg);
    background-repeat: no-repeat;
}

div.right-item-teacher {
    flex-basis: 40%;
    background-color: white;
    padding-left: 30px;
}

div.headline {
    border: 1px solid black;
    height: 100px;
}

div.headline p {
    /*    border: 1px solid darkgreen; */
    color: #2a3549;
    font-size: 48px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-top: 20px;
}

div.career_description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    border: 1px solid red;
}

div.career_description p {
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
}

div.career_description p:first-child {
    margin: 0 0.5em;
    text-align: justify;
}

div.career_description p img {
    background-image: url(../images/atom-mini.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    margin: 0 0.3em;
}

/*    div.career_description p::before {
    content: url(images/atom-mini.png);
    margin: 0 0.3em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
} 
*/
div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    border: 1px solid red;

}

a.get-ct-results {
    background-color: #20B2AA;
    box-shadow: 0 5px 0 #20B2AA;
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 30px;
}

a.get-ct-results:hover {
    background-color: #40E0D0;
    cursor: pointer;
}

a.get-ct-results:active {
    box-shadow: none;
    top: 5px;
}

a.get-teachers-details {
    background-color: #20B2AA;
    box-shadow: 0 5px 0 #20B2AA;
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 30px;
}

a.get-teachers-details:hover {
    background-color: #40E0D0;
    cursor: pointer;
}

a.get-teachers-details:active {
    box-shadow: none;
    top: 5px;
}

div.achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    border: 1px solid red;
}

p.experience {
    height: auto;
    color: #0e9695;
    font-size: 70px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    /*  background-position: center center;  */
    border-color: transparent;
    border-style: solid;
    vertical-align: middle;
    width: 40%;
    -webkit-text-size-adjust: 100%;
    border: 1px solid black;
}

p.rating {
    height: auto;
    color: #0e9695;
    font-size: 70px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    vertical-align: middle;
    width: 50%;
    -webkit-text-size-adjust: 100%;
    border: 1px solid black;
}

div.why_me {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: stretch;
    gap: 10px;
    margin: 30px auto;
    grid-gap: 10px;
    height: 60vh;
    vertical-align: middle;
    width: 70%;
    -webkit-text-size-adjust: 100%;
    border-radius: 15px;
    background-color: #0e9695;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0 auto;
}

div.why_me, p.why_me {
    text-align: center;
    padding: 20px 0;
    font-size: 48px;
    color: #f6f6f6;
    font-family: url('../fonts/Mint\ Type\ -\ RistrettoPro-Regular.otf');
    line-height: 1.20;
    font-weight: 700;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

p.why_me {
    grid-column-start: 1;
    grid-column-end: 3;
}

div.why_me>p.item {
    color: #f6f6f6;
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0 50px;
}

p.item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#what-you-get {
    width: 70%;
    margin: 30px auto;
    border: 1px solid crimson;
}
#what-you-get > p {
    text-align: center;
    margin: 20px 0px;
    text-align: center;
    color: #2a3549;
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#what-you-get-container {
    display: flex;
    
    justify-content: space-evenly
}
.what-you-get-card {
    backdrop-filter: none;
    width: 30%;
    height: 45vh;
    border: 1px solid navy;
    text-align: center;
}
.what-you-get-card img {
    border-radius: 3000px;
    background-color: #ebebeb;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    margin: 10px;
}
.what-you-get-card > p {
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
#footer-area {
    width: 80%;
    margin: 30px auto;
    border: 1px solid black;
}
.logo-image {
    background-image: url('../images/name_logo.png');
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

#footer-area {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
}
#footer-left {
    width: 30%;
    border: 1px solid red;
}
#footer-central {
    width: 40%;
    margin-left: 300px;
    border: 1px solid red;
}
#footer-central > p:first-child {
    text-transform: uppercase;
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
div.footer-central > p {
    color: #2a3549;
    font-size: 18px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

}
#footer-right { 
    width: 30%;
    border: 1px solid red;
}
#footer-right > p:first-child {
    text-transform: uppercase;
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
div.footer-right > p {
    color: #2a3549;
    font-size: 18px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}  

/********* feedback ************/
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#feedback-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.feedback-card {
    flex: 0 0 30%;
}

.card-top {
    display: flex;
    justify-content: flex-start;
}

.card-img-top {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.feedback-card {
    background: lightgray;
}

#testimonial-form-area {
    margin-top: 30px;
}

#testimonial-form {
    /*border: 1px solid navy;*/
    width: 50%;
}

.form-row {
    display: flex;
}
.form-row:last-child {
    justify-content: flex-end;
}
.form-col-25 {
    flex: 0 0 25%;
    margin-top: 6px;
}

.form-col-75 {
    flex: 0 0 75%;
    margin-top: 6px;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  /************* questions*****************/
  .question-answer-row {
    border: 1px solid blueviolet;
    width: 70%;
  }

  .question {
    height: 3em;
    border: 1px solid red;
    line-height: 3em;
  }

  .answer {
    display: none;
   /* transform: scale(0);
    transition: .6s ease opacity,.6s ease transform;*/
    opacity: 0;
    transition: opacity 1s; 
  }

  .fa-solid {
    float: right;
    height: 3em;
    line-height: 3em;
  }

  .fa-solid:hover {
    cursor: pointer;
  }

  #question-form {
    /*border: 1px solid navy;*/
    width: 50%;
}
