@font-face {
    font-family: 'RistrettoPro';
    src: url('../fonts/RistrettoPro.woff2') format('woff2'),
         url('../fonts/RistrettoPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

 img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    text-align: center;
}

div.wrapper {
    width: 100%;
    min-width: 500px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 20px;
}

header {
    width: 100%;
    background-color: #f9f9f9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2000;
}

/************* BANNER ***********************/
div.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    height: auto;
}

.grades80 {
    color: rgb(14, 150, 149);
    text-shadow: 2px 2px 8px darkblue;
}

div.banner-leftside {
    height: 100vh;
    background-color: #2a3549;
    line-height: 24px;
    width: 60%;
    /*height: 100vh;*/
    min-height: 100%;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.floating {
    position: absolute;
    left: 20%;
    top: 12%;
}

p.name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    letter-spacing: 0.5px;
    /*background-position: center center;*/
    border-color: transparent;
    border-style: solid;
    margin-bottom: 50px;
}

p.caption {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 30px;
}

a.detailed {
    display: inline-block;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;;
    color: #f6f6f6;
    font-size: 18px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #0e9695;
    background-position: center center;
    /*border-color: transparent;*/
    border-style: solid;
    /*transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;*/
    text-decoration: none;
}

a.detailed:hover {
    color: #0e9695;
    background-color: #f6f6f6;
}

div.banner-rightside {
    /*display: flex;*/
    background-image: url(../images/AVB.jpg);
    background-size: cover;
    background-color: gray;
    width: 40%;
    min-height: 90vh;
    height: auto;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

/************  end banner *********/

.button {
    display: inline-block;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;;
    color: #f6f6f6;
    font-size: 18px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #0e9695;
    background-position: center center;
    /*border-color: transparent;*/
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-decoration: none;
}

.button:hover {
    color: #0e9695;
    background-color: #f6f6f6;
}

.link-button {
    margin-top:15px;
    max-width:90px;
    background-color:#eee;
    border-color:#888888;
    color:#333;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    align-items:flex-start;
    cursor:default;
    -webkit-appearence: push-button;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    border-color: #000;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    min-height: 30px;
}

.link-button a {
    margin-top:4px;
    display:inline-block;
    text-decoration:none;
    color:#333;
}

/***************  TEACHER *************/

div.teacher {
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.left-item-teacher {
    flex-basis: 50%;
    background-image: url(../images/testimonial/edem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

div.right-item-teacher {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: rgb(255, 255, 255);
}

div.headline p {
    color: #2a3549;
    font-size: 48px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-top: 20px;
}

div.career-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.career-description p {
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    /* line-height: 1.5; */
    font-weight: 400;
    letter-spacing: 0.5px;
}

div.career-description p:first-child {
    margin: 0 0.5em;
    text-align: justify;
    margin-bottom: 2em;
}

.prepend-image {
    margin-bottom: 1.2em;
}

.prepend-image::before {
    content: url(../images/atom-mini.png);
    padding: 0 7px 0 0;
    vertical-align: -30%;
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.achievements {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    margin-top: 30px;
    padding-left: 5px;
}

#rating, #experience {
    width: 50%;
}

p.experience {
    width: 50%;
    height: auto;
    color: #0e9695;
    font-size: 70px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    /*  background-position: center center;  */
    vertical-align: middle;
    -webkit-text-size-adjust: 100%;
    border-color: transparent;
    border-style: solid;
}

p.rating {
    width: 40%;
    height: auto;
    color: #0e9695;
    font-size: 70px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.20;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    vertical-align: middle;
    -webkit-text-size-adjust: 100%;
}

#rating > p:last-child, #experience > p:last-child {
    font-size: 1em;
    font-family: 'RistrettoPro', Arial, sans-serif;
    /*line-height: 1.20;*/
    font-weight: 400;
}

/***************** end TEACHER ***************/

div.why_me {
    width: 70%;
    display: grid;
    grid-template-rows: /*auto auto auto;*/repeat(3, 1fr);
    grid-template-columns: /*auto auto;*/repeat(2, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: stretch;
    gap: 10px;
    margin: 30px auto;
    grid-gap: 10px;
    /*height: 60vh;*/
    vertical-align: middle;
    -webkit-text-size-adjust: 100%;
    border-radius: 15px;
    background-color: #0e9695;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-bottom: 20px;
    /*margin: 0 auto;*/
}

/*div.why_me, */.why-me-header {
    text-align: center;
    padding: 20px 0;
    font-size: 48px;
    color: #f6f6f6;
    font-family: 'RistrettoPro', Arial, sans-serif;;
    line-height: 1.20;
    font-weight: 700;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.why-me-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

div.why_me>p.item {
    color: #f6f6f6;
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0 50px;
}

p.item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#what-you-get {
    width: 70%;
    margin: 30px auto;
}

#what-you-get > p {
    text-align: center;
    margin: 20px 0px;
    text-align: center;
    color: #2a3549;
    font-size: 24px;
    font-family: 'RistrettoPro', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#what-you-get-container {
    display: flex;
    justify-content: space-evenly
}

.what-you-get-card {
    backdrop-filter: none;
    width: 30%;
    text-align: center;
}

.what-you-get-card img {
    border-radius: 3000px;
    background-color: #ebebeb;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    margin: 10px;
}

.what-you-get-card > p {
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.logo-image {
    background-image: url('../images/name_logo.png');
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

/************ footer ***************/

#footer-area {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-content: space-between;
    margin: 30px auto;
}

#footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}

#footer-left p {
    font-family: 'RistrettoPro',Arial,sans-serif;
}

#footer-central {
    width: 30%;
}

#footer-central > p:first-child {
    text-transform: uppercase;
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

div.footer-central > p {
    color: #2a3549;
    font-size: 18px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#footer-right { 
    width: 15%;
}

#footer-right > p:first-child {
    text-transform: uppercase;
    color: #2a3549;
    font-size: 20px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#footer-right > a {
    display: block;
    color: #2a3549;
    font-size: 18px;
    font-family: 'RistrettoPro',Arial,sans-serif;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.footer-messengers {
    padding-top: 1em;
}

.footer-messengers > a:last-child {
    margin-left: 1em;
}

/********* feedback ************/
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#feedback-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.feedback-card {
    flex: 0 0 30%;
}

.card-top {
    display: flex;
    justify-content: flex-start;
}

.card-img-top {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.feedback-card {
    background: lightgray;
}

#testimonial-form-area {
    margin-top: 30px;
}

#testimonial-form {
    width: 50%;
}

.form-row {
    display: flex;
}

.form-row:last-child {
    justify-content: flex-end;
}

.form-col-25 {
    flex: 0 0 25%;
    margin-top: 6px;
}

.form-col-75 {
    flex: 0 0 75%;
    margin-top: 6px;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button[type=submit] {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/************* questions page *****************/
.question-answer-row {
    width: 70%;
}

.question {
    height: 3em;
    line-height: 3em;
}

  .answer {
    display: none;
   /* transform: scale(0);
    transition: .6s ease opacity,.6s ease transform;*/
    opacity: 0;
    transition: opacity 1s; 
  }

  .fa-solid {
    float: right;
    height: 3em;
    line-height: 3em;
  }

  .fa-solid:hover {
    cursor: pointer;
  }

  #question-form {
    width: 50%;
}

/*********** for students ***************/

#mainWrap {
	margin: 120px 30px 0 230px;
}

#newsWrap {
	margin: 0 20px 0;
	padding: 0 0 20px;
}
				
.news {
	width: 100%;
	padding-left: 20PX;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
	background: #fff;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.27);
	border-radius: 5px;
}

.news h1 {
    text-align: center; 
    line-height: 1.5em;
    font-family: 'RistrettoPro', Arial, sans-serif;
    color: #757575;
}

.useful_links > li {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
  	margin-left: 20px;
    font-family: 'RistrettoPro',Arial, sans-serif;;
    line-height: 1.20;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.useful_links_description {
	font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  	margin-left: 20px;
    font-family: 'RistrettoPro',Arial, sans-serif;;
}

ul.work-cards-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    grid-gap: 10px;
	align-items: center;
	grid-auto-rows: 1fr;
}

li.work-cards-grid-item {
    width: auto;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

div.work {
	position: relative;
	margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
	list-style: none;
    display: flex;
    flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
}

h3.work-title {
	font-size: 19px;
    line-height: 20px;
    margin-bottom: 4px;
}

h3.work-title a::before {
	color: #804180;
    text-decoration-color: hsla(300,66%,38%,.3);
	text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .1em;
	font-size: 19px;
    line-height: 20px;
    margin-bottom: 4px;
}

small.work-meta {
	display: block;
    color: #373737;
    font-size: 14px;
    line-height: 14px;
}

p.work-microsummary {
	margin: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}
