@media screen and (max-width: 1200px) {
    @font-face {
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0576fQOJ0.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    div.wrapper {
        background: url('../image/fon-saint-petersburg.png') no-repeat;
        width: 100%;
        /* Путь к фоновому изображению */
        background-size: cover;
        padding-left: 10px;
        padding-right: 10px;
    }

    #header {
        float: left;
        width: 20%;
        height: auto;
        text-align: center;
        margin: 20px 0px 0px 20px;
        font-size: 20px;
    }

    div.banner {
        background-image: url('../image/picture_example.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        width: 50%;
        /*max-height: max-content;*/
        height: 250px;
        margin: 0px 0px 0px 20px;
        float: left;

    }

    .h1 {
        font-family: Skellyman;
        src: url('../../6.1+/ofont.ru_Skellyman.ttf');
        font-size: 20px;
    }

    .h3,
    .h4 {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        font-style: normal;
    }

    div.left_block {
        display: block;
        float: none;
    }

    .left_block img {
        width: 100%;
    }

    div.right_block {
        display: block;
        float: none;
        width: 98%;
        padding: 10px;
        margin: 0;

    }

    div.right_block p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 0;
        margin: 0;

    }

    div.bottom_block p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 10px;
    }

    p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 10px;
    }

    div.pict {
        max-width: 100%;
        margin: 15px;
    }

    .arrow {
        display: inline-block;
        padding-top: 10px;
        width: 50px;
        height: 40px;
        position: relative;
        top: 50px;
    }
}