@media screen and (max-width: 768px) {

    div.wrapper {
        background: url('../image/fon-saint-petersburg.png') no-repeat;
        width: 100%;
        /* Путь к фоновому изображению */
        background-size: cover;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.banner {
        background-image: url('../image/picture_example_mobile.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        /*max-height: max-content;*/
        height: 150px;
        margin: 15px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
        font-size: 16px;
    }

    .h1 {
        font-family: Skellyman;
        font-size: 20px;
        src: url('../6.1+/ofont.ru_Skellyman.ttf');
        color: #610b38;
    }

    .h3,
    .h4 {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        font-style: normal;
    }

    div.left_block {
        display: block;
        float: none;
    }

    .left_block img {
        width: 100%;
    }

    div.right_block {
        display: block;
        float: left;
        width: 90%;
        padding: 10px;
        margin: 0;

    }

    div.bottom_block {
        position: relative;
    }

    div.right_block p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 0;
        margin: 0;

    }

    div.bottom_block p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 10px;
    }

    p {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 10px;
    }

    div.pict {
        max-width: 100%;
        margin: 15px;
    }

    .arrow {
        display: inline-block;
        padding-top: 10px;
        width: 50px;
        height: 40px;
        position: relative;
        top: 50px;
    }
}