@media screen and (max-width: 600px) {
    div.banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        border: none;
    }

    div.banner-leftside {
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .floating {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    p.name {
        color:rgb(255, 255, 255);
        font-size: 24px;
        font-family: 'RistrettoPro', Arial, sans-serif;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    p.caption {
        color: rgb(255, 255, 255);
        font-size: 2em;
        font-family: 'RistrettoPro', Arial, sans-serif;
        line-height: 1.5;
        font-weight: 700;
        border-color: transparent;
        border-style: solid;
    }

    div.banner-rightside {
        display: block;
        position: static;
        width: 100%;
        height: 100%;
        background-image: url(../../images/AVB.jpg);
        background-color: #2a3549;
        background-size: 99%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 0px;
        overflow: hidden; 
    }

    div.teacher {
        width: 100%;
        flex-basis: 100%
    }

    div.right-item-teacher {
        width: 100%;
    }

    div.buttons {
        flex-direction: column;
        flex-basis: 100%;
        padding-left: 15px;
        align-items: flex-start;
    }

    div.achievements {
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
    }

    #experience, #rating {
        width: 100%;
    }

    div.why_me {
        width: 100%;
        display: block;
    }

    #what-you-get {
        width: 100%;
    }

    #footer-area {
        padding: 3px;
    }
}
