
div.container-large {
    
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
div.container{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
div.g-4 {--bs-gutter-x: 1.5rem;
        --bs-gutter-y: 1.5rem;}

div.col-lg-3 .col-sm-6 .wow .fadeInUp {
    visibility: visible;
    animation-delay: 0.1s; 
    animation-name: fadeInUp;}
                    