@media screen and (min-width: 601px) and (max-width: 1000px) {
    @font-face {
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0576fQOJ0.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    #main {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    div.header {
        text-align: left;
        padding: 20px;
        background-color: rgba(128, 252, 103, 0.7);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: 500;
        color: blue;
        float: none;
        width: auto;
    }

    marquee {
        width: 100%;
        padding: 10px 0;

    }

    div.wrapper {
        padding: 0;
        float: none;
        width: auto;
    }

    div.left-menu {
        width: 100%;
        float: none;
        background-color: lightblue;
        height: auto;
    }

    h3 {
        text-align: left;
        margin: auto;
        padding: 5px 10px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    ul {

        margin: auto;
        padding-bottom: 10px;
        border: 1 px solid red;
    }

    ul li {
        display: inline-block;
        color: red;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
        margin-left: 5px;
    }

    ul li a {
        color: darkred;
        /* Цвет ссылок */
        text-decoration: none;
        /* Убираем подчёркивание у ссылок */
    }

    ul li+li::before {
        content: '|';
        /* Разделитель ссылок */
        padding: 0px 5px;
        /* Расстояние вокруг разделителя */
    }

    /*.top_row {display: block;
              float: left;
             }
    .bottom_row {display: block;
                float: left;
               }

    .top_row:nth-child(5) {margin-right: 100px;}*/

    div.content {
        margin: 0;
        background-color: white;
        height: auto;
        float: none;
        width: auto;
        background-color: #fefbd8;
        background-image: url('../images/ball1_small.png');
        background-repeat: repeat-y;
        background-position: top right;
    }

    h2 {
        text-align: left;
        color: darkslateblue;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        margin: 0px;
        padding-top: 10px;
        padding-left: 30px;
        float: none;
        width: auto;
    }

    img {
        float: right;
        margin: 10px 10px 20px 10px;
        width: 30%;
    }

    p {
        font-size: 1em;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 600;
        padding-left: 20px;
        float: none;
        width: auto;
        margin-bottom: 0px;
    }

    div.clearfix::after {
        content: "";
        display: block;
        /*распорка*/
        clear: both;
    }


    div.footer {
        background-color: lightblue;
        text-align: left;
        float: none;
        width: auto;
        padding: 10px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: blue;
        margin: 0;
    }
}